#fake-cursor,
#fake-cursor2 {
  position: fixed;
  pointer-events: none;
  will-change: auto;
  width: 5rem;
  height: 5rem;
}

#fake-cursor svg.clicked,
#fake-cursor2 svg.clicked {
  fill: #f9beca;
}

#fake-cursor svg.rclicked,
#fake-cursor2 svg.rclicked {
  fill: #ff2853;
}

#fake-cursor svg.mclicked,
#fake-cursor2 svg.mclicked {
  fill: #ff708d;
}

#fake-cursor svg.dblclicked,
#fake-cursor2 svg.dblclicked {
  fill: #ff0033;
}

#fake-cursor svg,
#fake-cursor2 svg {
  width: 100%;
  height: 100%;
  transition: fill 0.1s ease;
    fill: transparent;
}


.numberlabel {
  width: 5ch;
  display: inline-block;
  text-align: right;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider.locked {
  pointer-events: none;
  opacity: 0.4;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #f9beca;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #f9beca;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden !important;
  cursor: none !important;
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 100, 0, 50;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  background-attachment: fixed;
  touch-action: manipulation;
  font-size: 2.5rem;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

#fpscounter {
  position: fixed;
  top: 10px;
  left: 30px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  font-family: monospace;
  z-index: 1000;

}

#resetButton {
  width: 200%;
  height: 2rem;
}

:root {
  background-color: black;
  overflow: hidden;
}

* {
  cursor: pointer;
}